__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
venv/
env/
.venv/
.venv_test/
staticfiles/
db.sqlite3
data/lanchas/pdfs/
.coverage
htmlcov/
.pytest_cache/

secrets/

dbt_lanchas/profiles.yml
dbt_lanchas/target/
dbt_lanchas/logs/
